@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

#hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

#hamburger.active span:nth-child(2) {
  opacity: 0;
}

#hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

#mobile-nav.active {
  transform: translateX(0);
}

h2 {
  font-size: 42px;
  font-weight: 700;
}

h3 {
  font-size: 22px;
  font-weight: 700;
}

p {
  font-size: 18px;
}

.stars::after {
  content: "★★★★★";
  display: inline-block;
  color: #faba05;
  font-size: 2rem;
}

.toc-container {
  width: 100%;
  background-color: #c4585f;
  overflow: hidden;
  border-radius: 8px;
  margin-top: 10px;
}

/* Heading styles */
.toc-heading {
  display: flex;
  background-color: #c4585f;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  font-size: 1.2em;
  color: white;
}
/* Content styles (collapsed initially) */
.toc-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  background-color: #f0f0f0;
}
/* Open state */
.toc-container.open .toc-content {
  max-height: 400px; /* Adjust based on content length */
  padding: 15px;
}

/* List items */
.toc-content ul {
  column-count: 3;
  padding: 10px;
  list-style-type: none;
}
.toc-content ul li {
  margin: 8px 0;
  font-size: 1em;
}
.toc-content ul li a {
  color: #5b5a5a;
  font-weight: 700;
  text-decoration: none;
}

.toc-content ul li a:hover {
  text-decoration: underline;
}

.overview-table table {
  width: 100%;
  border: none;
  margin-bottom: 20px;
  background-color: #fff;
  border-collapse: collapse;
}

.overview-table table tr {
  border-bottom: 1px solid black;
}

.overview-table table td {
  padding: 10px;
}

.advantages-list {
  padding: 20px;
}
.advantages-list li {
  font-size: 18px;
  margin-bottom: 1rem;
}
.advantages-list li::before {
  content: "\274B";
  color: #c4585f;
  padding-right: 1rem;
}

ol{
  counter-reset: myCounter; /* Initialize the counter */
  position: relative;   
}

ol li {
  list-style: none;
  font-size: 18px;
  padding-left: 2.5rem;
  position: relative;
  margin-bottom: 1rem;
}

ol li::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  color: #fff;
  background-color: #c4585f;
  margin: 0;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 50%;
  border-radius: 50%;
  padding: 2px;
  position: absolute;
  left: 0;
  top: 0;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 640px) {
  .toc-content ul {
    column-count: 2;
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
  .advantages-list li {
    font-size: 16px;
  }
  
  ol li{
    font-size: 16px;
  }
}
